#game {
  width: 800px;
  height: 200px;
  border: 1px solid black;
  margin: auto;
  overflow: hidden;
}

#character {
  width: 120px;
  height: auto;
  position: relative;
  top: 140px;
  left: 50px;
}

.animate {
  animation: jump 1.5s linear;
}

@keyframes jump {
  0% {
    top: 140px;
  }
  30% {
    top: 90px;
    transform: rotate(-20deg);
  }
  70% {
    top: 90px;
  }

  90% {
    top: 120px;
    transform: rotate(20deg);
  }
  100% {
    top: 140px;
  }
}

#block {
  display: block;
  width: 40px;

  position: relative;
  top: 86px;
  left: 800px;
  animation: block 4s infinite linear;
}

@keyframes block {
  0% {
    left: 800px;
  }
  100% {
    left: -20px;
  }
}
