*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #bfd7ea;
}

#game {
  width: 800px;
  height: 295px;
  margin: auto;
  overflow: hidden;
  position: relative;
  background-color: #bfd7ea;
  margin: 20px auto;
}

#background {
  background: url('images/back.png') repeat-x;
  height: 300px;
  width: 4779px;
  background-position: bottom;
  opacity: 0.6;
}

.sliding {
  animation: slide 60s linear infinite;
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-1593px, 0, 0);
  }
}

#character {
  width: 150px;
  height: auto;
  position: absolute;
  bottom: 0;
  left: 50px;
  z-index: 999;
}

.animate {
  animation: jump 1s linear;
  -webkit-animation: jump 1s linear;
}

@keyframes jump {
  0% {
    bottom: 0;
  }
  30% {
    bottom: 55px;
    transform: rotate(-20deg);
  }
  70% {
    bottom: 55px;
  }

  90% {
    bottom: 30px;
    transform: rotate(20deg);
  }
  100% {
    bottom: 0;
  }
}

@-webkit-keyframes jump {
  0% {
    bottom: 0;
  }
  30% {
    bottom: 55px;
    transform: rotate(-20deg);
  }
  70% {
    bottom: 55px;
  }

  90% {
    bottom: 30px;
    transform: rotate(20deg);
  }
  100% {
    bottom: 0;
  }
}

.block {
  display: block;
  width: 40px;
  position: absolute;
  bottom: 0;
  left: 800px;
}

.animateBlock {
  animation: block 4s forwards linear;
  -webkit-animation: block 4s forwards linear;
}

@keyframes block {
  0% {
    left: 800px;
  }
  100% {
    left: -20px;
  }
}

@-webkit-keyframes block {
  0% {
    left: 800px;
  }
  100% {
    left: -20px;
  }
}

#smoke {
  width: 70px;
  height: 100px;
  background: none;
  position: absolute;
  left: 140px;
  bottom: 15px;
  display: none;
  z-index: 99;
}

#smoke:after {
  content: '';
  width: 120px;
  height: 120px;
  background: none;
  position: absolute;
  background-image: -webkit-radial-gradient(42% 48%, ellipse, #00000033, transparent 25%), -webkit-radial-gradient(35% 70%, ellipse, #00000033, transparent 15%),
    -webkit-radial-gradient(42% 61%, ellipse, #00000033, transparent 10%);
  animation: smoke 3s infinite;
  transform: rotate(18deg);
  opacity: 0.5;
}

@keyframes smoke {
  0% {
    background-position: 0 0;
    opacity: 0.5;
  }
  15%,
  85% {
    opacity: 1;
  }
  100% {
    background-position: -20px -25px, -5px -25px, 0px -25px, 0px -25px;
    opacity: 0.5;
  }
}

@-webkit-keyframes smoke {
  0% {
    background-position: 0 0;
    opacity: 0.5;
  }
  15%,
  85% {
    opacity: 1;
  }
  100% {
    background-position: -20px -25px, -5px -25px, 0px -25px, 0px -25px;
    opacity: 0.5;
  }
}

#score {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  z-index: 99;
  color: #2e4057;
}

#gameOverTitle {
  display: none;
  text-align: center;
  position: relative;
  top: 40%;
  transform: scaleX(0.1);
  animation: expand 2s linear forwards;
  -webkit-animation: expand 2s linear forwards;
}

@keyframes expand {
  0% {
    transform: scaleX(0.1);
  }

  100% {
    transform: scaleX(1);
  }
}

@-webkit-keyframes expand {
  0% {
    transform: scaleX(0.1);
  }

  100% {
    transform: scaleX(1);
  }
}

#santa {
  position: absolute;
  top: 100px;
  left: -300;
  display: none;
}

.santaAnimated {
  animation: traverse 4s linear forwards;
  -webkit-animation: traverse 4s linear forwards;
}

@keyframes traverse {
  0% {
    top: 100px;
    left: -300px;
  }

  100% {
    top: 10px;
    left: 900px;
  }
}

@-webkit-keyframes traverse {
  0% {
    top: 100px;
    left: -300px;
  }

  100% {
    top: 10px;
    left: 900px;
  }
}

.btnDiv {
  padding: 20px;
  text-align: center;
}

.mainBtn {
  border: 2px solid #78b9e7;
  padding: 10px 30px;
  border-radius: 20px;
  background-color: #124e78;
  color: #ffc220;
  font-size: 25px;
  background-size: 200% auto;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  background-image: linear-gradient(to right, #124e78 0%, #78b9e7 50%, #124e78 100%);
  transition: 0.5s;
  outline: none;
  cursor: pointer;
  user-select: none;
}

.mainBtn:hover {
  background-position: right center;
}

#playAgainBtn {
  display: none;
}
